@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;;
}

body{
    background-color:#283145 ;
}

.madeby{
    margin-top: 50px;
    padding: 10px 25px;
    text-align: right;
    margin-bottom: 10px;
}

.logo{
    height: 20px;
    width: 20px;
    margin: 20px;
    cursor: pointer;
    transition:.5s ease all;
}

.card{
    transition: 0.1em; 
    width: 100%;
    max-width: 470px;
    background: linear-gradient(135deg, #192642, #5888f6);
    color: white;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-bottom: 10px;
    height: 650px;
    
}


.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #acb9d2;
    color: #020304;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 13px;
}

.search button{
    border: 0;
    outline: 0;
    background: #acb9d2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 5px;
    font-size: 12px;

}

.col{
    display: flex;
    align-items: center;
    text-align: left;
    margin: 50px;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 20px;
    margin-top: -6px;
}